@import url(./_misc/normalize.css);
html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 13px; } }

html,
body {
  height: 100%; }

body {
  /*font-size: 16px;*/
  line-height: 1.42;
  position: relative;
  color: black; }

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%; }

.container {
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 58.75rem;
  width: 95%;
  /*text-align: center;*/ }

.section {
  height: 100vh;
  min-height: 40.625rem; }
  .section_centered .title {
    width: 100%;
    text-align: center; }
  .section_centered .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: "gagalinregular";
  src: url(../fonts/Gagalin/subset-Gagalin-Regular.woff) format("woff");
  src: url(../fonts/Gagalin/subset-Gagalin-Regular.woff2) format("woff2");
  src: url(../fonts/Gagalin/subset-Gagalin-Regular.eot);
  src: url(../fonts/Gagalin/subset-Gagalin-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "lifehackmedium";
  src: url(../fonts/LifehackMedium/subset-Lifehack-Medium.woff) format("woff");
  src: url(../fonts/LifehackMedium/subset-Lifehack-Medium.woff2) format("woff2");
  src: url(../fonts/LifehackMedium/subset-Lifehack-Medium.eot);
  src: url(../fonts/LifehackMedium/subset-Lifehack-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "ubuntulight";
  src: url(../fonts/Ubuntu/subset-Ubuntu-Light.woff) format("woff");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Light.woff2) format("woff2");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Light.eot);
  src: url(../fonts/Ubuntu/subset-Ubuntu-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "ubuntumedium";
  src: url(../fonts/Ubuntu/subset-Ubuntu-Medium.woff) format("woff");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Medium.woff2) format("woff2");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Medium.eot);
  src: url(../fonts/Ubuntu/subset-Ubuntu-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Ubuntubold";
  src: url(../fonts/Ubuntu/subset-Ubuntu-Bold.woff) format("woff");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Bold.woff2) format("woff2");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Bold.eot);
  src: url(../fonts/Ubuntu/subset-Ubuntu-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/subset-Ubuntu.woff) format("woff");
  src: url(../fonts/Ubuntu/subset-Ubuntu.woff2) format("woff2");
  src: url(../fonts/Ubuntu/subset-Ubuntu.eot);
  src: url(../fonts/Ubuntu/subset-Ubuntu.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
/*@mixin gagalin() {
    font-family: "Gagalin-Regular", Helvetica, sans-serif;
}

/*@mixin ubuntu($staly: light) {
    font-family: "Ubuntu", Helvetica, sans-serif;  

    @if $staly = light {
        font-weight: 300;
    }
    @if $staly = medium {
        font-weight: 500;
    }
}*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3125rem; }

.header_menu_btn {
  display: flex;
  align-items: center; }

.navigation_fonts {
  font-family: "ubuntumedium";
  text-transform: uppercase;
  font-size: 0.8125rem; }

.site-navigation {
  display: flex;
  align-items: center; }

.menu {
  display: flex;
  align-items: center; }
  .menu:last-child:after {
    display: none; }
  .menu:after {
    content: "";
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    margin: 0 0.625rem; }

.menu_navigation {
  color: white;
  text-decoration: none; }
  .menu_navigation:hover {
    color: #f9b43b; }

.order_btn:hover {
  background-color: #c1401e;
  cursor: pointer; }

.hero {
  background: url(../img/video-bg.jpg) center center/cover no-repeat; }

.hero_container {
  display: flex;
  flex-direction: column;
  height: 100%; }

.order_btn {
  margin-left: 0.9375rem; }

.content_hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: .65;
  top: 20%; }

.title_hero {
  font-size: 4.5rem;
  color: #f9b43b;
  font-family: "gagalinregular";
  line-height: 1.1;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

.content_hero_text {
  margin-top: 1.5625rem;
  line-height: 1.25rem; }

.slogan_title {
  color: #fff;
  font-family: "lifehackmedium";
  font-size: 4.0625rem;
  line-height: 5.3125rem;
  margin-left: 2.5rem; }

.content_hero_bottom {
  position: absolute;
  bottom: 5%;
  left: 49.5%; }

.btn {
  background: #e35028;
  padding: 0.5625rem 0.9375rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem; }
  .btn_background_black {
    background: #2f3234;
    font-family: "ubuntumedium"; }
  .btn_colorless {
    background: none; }

.title {
  font-size: 4.5rem;
  color: #f9b43b;
  font-family: "gagalinregular";
  line-height: 1.1;
  margin-bottom: 2.8125rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

.profit {
  background: url(../img/bg.jpg) center center/cover no-repeat; }

.profit_list {
  display: flex; }

.profit_item {
  width: 33.3%;
  margin-right: 0.9375rem;
  text-align: center; }
  .profit_item:last-child {
    margin-right: 0; }

.profit_icon {
  display: inline-block; }

.profit_text_title {
  color: #2f3234;
  font-family: "lifehackmedium";
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 2.1875rem;
  margin-bottom: 1.5625rem; }

.profit_text_content {
  font-family: "ubuntulight";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }

.review_section {
  background: #000;
  position: relative; }

.review_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.review_item {
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  position: relative;
  filter: grayscale(100%); }
  .review_item:hover .review_item_hover {
    opacity: 1; }

.review_item_hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 3.125rem 1.875rem 1.875rem 1.25rem;
  color: #fff;
  opacity: 0;
  transition: opacity .3s; }

.review_name {
  font-family: "gagalinregular";
  font-size: 0.875rem;
  margin-bottom: 1.25rem; }

.review_text {
  font-family: "ubuntulight";
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
  overflow: hidden; }

.order_section {
  background: url("../img/order.jpg") center center/cover no-repeat; }

.order_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.form-order-column {
  width: 100%;
  margin-top: 2.5rem; }

.form_order {
  display: flex;
  margin-bottom: 6.875rem;
  color: #fff;
  text-align: left; }

.form {
  display: flex; }

.form_content_column {
  width: 50%;
  display: flex;
  flex: 1;
  padding: 0.9375rem;
  margin: 0 auto;
  flex-direction: column; }

.form_content_column_row {
  width: 50%;
  margin-right: 0; }

.form_content {
  margin-right: 1.25rem;
  flex: 1;
  margin-bottom: 0.625rem;
  font-family: "ubuntulight";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff; }
  .form_content:last-child {
    margin-right: 0; }

.form_content_input {
  border-radius: 0.3125rem;
  background: #fff;
  border: 0;
  width: 100%;
  height: 2.1875rem;
  padding: 0.3125rem 0.625rem; }

.form_content_input_row {
  height: 6.875rem;
  max-height: 6.875rem;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  flex: 3; }

.form_content_row:last-child {
  margin-right: 0; }

.radio_label {
  margin-right: 0.9375rem; }

.checkbox,
.radio_inpyt {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 0.0625rem;
  width: 0.0625rem;
  margin: -0.0625rem; }

.radio_custom,
.radio_inpyt:checked + .radio_custom::before {
  border-radius: 50%; }

.checkbox_custom,
.radio_custom,
.radio_text {
  display: inline-block;
  vertical-align: middle; }

.radio_custom,
.checkbox_custom {
  width: 0.875rem;
  height: 0.875rem;
  background: #fff;
  position: relative; }

.radio_text,
.checkbox_text {
  margin-left: 0.625rem; }

.btn_colorless:hover {
  background-color: #646261;
  border-radius: 5px; }

.fixed-menu {
  position: fixed;
  top: 5.625rem;
  right: 1.5625rem; }

.fixed-menu-item {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  border: 1px solid transparent;
  position: relative;
  border-radius: 50%;
  margin-bottom: 1.25rem; }
  .fixed-menu-item:hover {
    border-color: #fff;
    cursor: pointer; }
  .fixed-menu-item:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: #fff; }

.slider_section {
  background: url(../img/slider.jpg) center center/cover no-repeat; }

.slider-left {
  transform: rotate(90deg);
  position: absolute;
  left: 3.5%;
  top: 50%; }

.slider-right {
  transform: rotate(-90deg);
  position: absolute;
  right: 3.5%;
  top: 50%; }

.slider_conteiner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center; }

.team_section {
  background-color: rgba(0, 0, 0, 0.31);
  background: url(../img/team-activ.jpg) center center/cover no-repeat; }

.activ_section {
  position: absolute;
  width: 50%;
  left: 50%;
  height: 100%;
  background: rgba(47, 50, 52, 0.93);
  display: flex;
  flex-direction: column;
  padding-top: 3.125rem;
  padding-left: 5rem;
  justify-content: space-around; }

.title_team {
  font-size: 4.5rem;
  color: #f9b43b;
  font-family: "gagalinregular";
  line-height: 1.1;
  width: 100%;
  text-transform: uppercase;
  margin: 0; }

.team_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8.4375rem; }

.team_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.1875rem; }

.team_name_activ::before {
  transition: .5s;
  margin-right: 0.625rem;
  content: "";
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-top-color: #f9b43b;
  border-bottom-width: 0px; }

.team_item_activ {
  color: #f9b43b; }

.team_item_activ
.team_name_activ::before {
  transform: rotate(-180deg); }

.team_name_activ {
  color: #fff;
  display: flex;
  align-items: center;
  font-family: "gagalinregular";
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none; }

.team_img {
  border-radius: 50%; }

.activ_content {
  height: 0;
  overflow: hidden;
  display: flex; }

.activ_content_text {
  color: #fff;
  margin-left: 0.9375rem;
  font-family: "ubuntulight";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.8125rem; }

.activ_content_title {
  font-weight: 800; }

.section_screen {
  background: url(../img/screen.jpg) center center/cover no-repeat;
  position: relative; }

.screen_title {
  position: absolute;
  left: 10%; }

.screen_activ {
  position: absolute;
  display: flex;
  height: 100%;
  justify-content: space-between;
  right: 0; }

.accordeon_list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.accordeon_item {
  display: flex; }

.accordeon_item_activ
.accordeon_item_link {
  color: #f9b43b; }

.accordeon_item_link_active
.accordeon_item_link_text {
  max-width: 33.75rem;
  padding: 3.875rem 2.1875rem;
  visibility: visible;
  opacity: 1; }

.accordeon_item_link {
  position: relative;
  width: 5rem;
  display: inline-block;
  font-family: "gagalinregular";
  font-size: 2.5rem;
  color: #fff;
  line-height: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-transform: uppercase; }

.accordeon_item_link span {
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateZ(-90deg);
  transform-origin: 0 0;
  text-align: center; }

.accordeon_item_link_text {
  background-color: rgba(47, 50, 52, 0.929);
  color: #fff;
  font-size: 0.875rem;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.714;
  max-width: 0rem;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transition-property: max-width, opacity, visibility;
  transition-timing-function: ease;
  transition-duration: .8s;
  transition-property: width; }

/*# sourceMappingURL=style.css.map */
