/*$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;*/
@import url(./_misc/normalize.css);
html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 13px; } }

html,
body {
  height: 100%; }

body {
  /*font-size: 16px;*/
  line-height: 1.42;
  position: relative;
  color: black; }

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 58.75rem;
  width: 95%;
  /*text-align: center;*/ }

.section {
  height: 100vh;
  min-height: 40.625rem; }
  .section_centered .title {
    width: 100%;
    text-align: center; }
  .section_centered .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: "gagalinregular";
  src: url(../fonts/Gagalin/subset-Gagalin-Regular.woff) format("woff");
  src: url(../fonts/Gagalin/subset-Gagalin-Regular.woff2) format("woff2");
  src: url(../fonts/Gagalin/subset-Gagalin-Regular.eot);
  src: url(../fonts/Gagalin/subset-Gagalin-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "lifehackmedium";
  src: url(../fonts/LifehackMedium/subset-Lifehack-Medium.woff) format("woff");
  src: url(../fonts/LifehackMedium/subset-Lifehack-Medium.woff2) format("woff2");
  src: url(../fonts/LifehackMedium/subset-Lifehack-Medium.eot);
  src: url(../fonts/LifehackMedium/subset-Lifehack-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "ubuntulight";
  src: url(../fonts/Ubuntu/subset-Ubuntu-Light.woff) format("woff");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Light.woff2) format("woff2");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Light.eot);
  src: url(../fonts/Ubuntu/subset-Ubuntu-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "ubuntumedium";
  src: url(../fonts/Ubuntu/subset-Ubuntu-Medium.woff) format("woff");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Medium.woff2) format("woff2");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Medium.eot);
  src: url(../fonts/Ubuntu/subset-Ubuntu-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Ubuntubold";
  src: url(../fonts/Ubuntu/subset-Ubuntu-Bold.woff) format("woff");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Bold.woff2) format("woff2");
  src: url(../fonts/Ubuntu/subset-Ubuntu-Bold.eot);
  src: url(../fonts/Ubuntu/subset-Ubuntu-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/subset-Ubuntu.woff) format("woff");
  src: url(../fonts/Ubuntu/subset-Ubuntu.woff2) format("woff2");
  src: url(../fonts/Ubuntu/subset-Ubuntu.eot);
  src: url(../fonts/Ubuntu/subset-Ubuntu.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
/*@mixin gagalin() {
    font-family: "Gagalin-Regular", Helvetica, sans-serif;
}

/*@mixin ubuntu($staly: light) {
    font-family: "Ubuntu", Helvetica, sans-serif;  

    @if $staly = light {
        font-weight: 300;
    }
    @if $staly = medium {
        font-weight: 500;
    }
}*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3125rem; }

.header_menu_btn {
  display: flex;
  margin-left: auto; }
  @media screen and (max-width: 768px) {
    .header_menu_btn {
      display: none; } }

.header_links {
  display: flex;
  align-items: center;
  margin-left: auto; }

.navigation_fonts {
  font-family: "ubuntumedium";
  text-transform: uppercase;
  font-size: 0.8125rem; }

.site-navigation {
  display: flex;
  align-items: center; }

.menu {
  display: flex;
  align-items: center;
  padding: 0 0.625rem; }
  .menu:last-child {
    padding: 0; }
  .menu:last-child:after {
    display: none; }

.menu_navigation {
  color: white;
  text-decoration: none; }
  .menu_navigation:after {
    content: "";
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    margin: 0 0.625rem; }
  .menu_navigation:hover {
    color: #f9b43b; }

.order_btn:hover {
  background-color: #c1401e;
  cursor: pointer; }

@media screen and (max-width: 768px) {
  .logo {
    margin: 10px 0px 0px 20px; } }
.hero {
  background: url(../img/video-bg.jpg) center center/cover no-repeat; }

.hero_container {
  display: flex;
  flex-direction: column;
  height: 100%; }

.order_btn {
  margin-left: 0.9375rem; }

.content_hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: .65;
  top: 20%; }
  @media screen and (max-width: 768px) {
    .content_hero {
      flex-direction: column;
      align-items: center;
      text-align: center; } }

.title_hero {
  font-size: 4.5rem;
  color: #f9b43b;
  font-family: "gagalinregular";
  line-height: 1.1;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

.content_hero_text {
  margin-top: 1.5625rem;
  line-height: 1.25rem; }
  @media screen and (max-width: 768px) {
    .content_hero_text {
      margin-top: 0; } }

.hero_burger_img {
  width: 28.75rem; }
  @media screen and (max-width: 768px) {
    .hero_burger_img {
      width: 26rem; } }
  @media screen and (max-width: 480px) {
    .hero_burger_img {
      width: 25rem;
      padding: 0; } }

.slogan_title {
  color: #fff;
  font-family: "lifehackmedium";
  font-size: 4.0625rem;
  line-height: 5.3125rem;
  margin-left: 2.5rem; }
  @media screen and (max-width: 480px) {
    .slogan_title {
      font-size: 3.4375rem; } }

.content_hero_bottom {
  position: absolute;
  bottom: 5%;
  left: 49.5%; }

.btn {
  background: #e35028;
  padding: 0.5625rem 0.9375rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem; }
  .btn_background_black {
    background: #2f3234;
    font-family: "ubuntumedium"; }

.btn_order {
  font-family: "ubuntumedium";
  background: #e35028;
  padding: 0.5625rem 0.9375rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  margin: auto; }

.btn_order_colorless {
  font-family: "ubuntumedium";
  padding: 0.5625rem 0.9375rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  border: none;
  background: none; }

.title {
  font-size: 4.5rem;
  color: #f9b43b;
  font-family: "gagalinregular";
  line-height: 1.1;
  margin-bottom: 2.8125rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

.profit {
  background: url(../img/bg.jpg) center center/cover no-repeat; }

.profit_list {
  display: flex; }
  @media screen and (max-width: 480px) {
    .profit_list {
      flex-direction: column; } }

.profit_item {
  margin-right: 0.9375rem;
  text-align: center;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .profit_item {
      flex-direction: row; } }
  .profit_item:last-child {
    margin-right: 0; }

.profit_icon {
  display: inline-block; }

@media screen and (max-width: 480px) {
  .profit_img {
    width: 35%; } }

@media screen and (max-width: 480px) {
  .profit_text {
    margin: 5px 0;
    text-align: left;
    margin-left: 30px;
    line-height: 24px;
    width: 65%; } }
.profit_text .profit_text_title {
  color: #2f3234;
  font-family: "lifehackmedium";
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 2.1875rem;
  margin-bottom: 1.5625rem; }
  @media screen and (max-width: 480px) {
    .profit_text .profit_text_title {
      font-size: 24px;
      line-height: 28px;
      margin-top: 1.25rem;
      margin-bottom: 0.625rem; } }

.profit_text_content {
  font-family: "ubuntulight";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }
  @media screen and (max-width: 480px) {
    .profit_text_content {
      line-height: 0.875rem; } }

.review_section {
  background: #000;
  position: relative; }

.review_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.review_item {
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  position: relative;
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    .review_item {
      width: 50%;
      height: 25%; } }
  .review_item:hover .review_item_hover {
    opacity: 1; }

.review_item_hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 3.125rem 1.875rem 1.875rem 1.25rem;
  color: #fff;
  opacity: 0;
  transition: opacity .3s; }

.review_name {
  font-family: "gagalinregular";
  font-size: 0.875rem;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .review_name {
      font-size: 2rem;
      line-height: 2rem;
      text-align: center; } }

.review_text {
  font-family: "ubuntulight";
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
  overflow: hidden; }
  @media screen and (max-width: 480px) {
    .review_text {
      display: none; } }

.order_section {
  background: url("../img/order.jpg") center center/cover no-repeat; }

.order_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.form-order-column {
  margin-top: 2.5rem;
  width: 100%; }

.form_order {
  display: flex;
  margin-bottom: 6.875rem;
  color: #fff;
  text-align: left; }

.form {
  display: flex; }

.form_content_column {
  display: flex;
  margin-left: -5%; }
  @media screen and (max-width: 768px) {
    .form_content_column {
      flex-direction: column;
      margin-left: 0;
      padding: 0 12%; } }
  @media screen and (max-width: 480px) {
    .form_content_column {
      padding: 0; } }

.form--left {
  width: 50%;
  margin-left: 5%; }
  @media screen and (max-width: 768px) {
    .form--left {
      margin-left: 0;
      width: initial; } }

.form--right {
  width: 50%;
  margin-bottom: 1rem;
  padding-left: 1.9375rem; }
  @media screen and (max-width: 768px) {
    .form--right {
      width: initial;
      padding-left: 0; } }

.form_right_row {
  flex: 1;
  margin-bottom: 0.625rem;
  font-family: "ubuntulight";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff; }

.form_content_column_row {
  width: 50%;
  margin-right: 0; }

.form_content {
  margin-right: 1.25rem;
  flex: 1;
  margin-bottom: 0.625rem;
  font-family: "ubuntulight";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff; }
  .form_content:last-child {
    margin-right: 0; }

.form_content_input {
  border-radius: 0.3125rem;
  background: #fff;
  border: 0;
  width: 100%;
  height: 2.1875rem;
  padding: 0.3125rem 0.625rem; }

.form_content_input_row {
  height: 6.875rem;
  max-height: 6.875rem;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  flex: 3; }

.form_content_row:last-child {
  margin-right: 0; }

.radio_label {
  margin-right: 0.9375rem; }

.checkbox,
.radio_input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 0.0625rem;
  width: 0.0625rem;
  margin: -0.0625rem; }

.radio_custom,
.radio_input:checked + .radio_custom::before {
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background: #e45028; }

.checkbox_custom,
.radio_custom,
.radio_text {
  display: inline-block;
  vertical-align: middle; }

.radio_custom,
.checkbox_custom {
  width: 0.875rem;
  height: 0.875rem;
  background: #fff;
  position: relative; }

.radio_text,
.checkbox_text {
  margin-left: 0.625rem; }

.checkbox:checked + .checkbox_custom::before {
  content: url(../img/arrow-scroll.svg);
  display: block;
  position: absolute;
  top: -4px;
  left: 2px; }

.btn_colorless:hover {
  background-color: #646261;
  border-radius: 5px; }

.fixed-menu {
  position: fixed;
  top: 5.625rem;
  right: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu-item {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  border: 1px solid transparent;
  position: relative;
  border-radius: 50%;
  margin-bottom: 1.25rem; }
  .fixed-menu-item:hover {
    border-color: #fff;
    cursor: pointer; }
  .fixed-menu-item:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: #fff; }

.slider_section {
  background: url(../img/slider.jpg) center center/cover no-repeat; }

.slider-left {
  transform: rotate(90deg);
  position: absolute;
  left: 3.5%;
  top: 50%;
  text-decoration: none;
  cursor: pointer;
  z-index: 2; }

.slider-right {
  transform: rotate(-90deg);
  position: absolute;
  right: 3.5%;
  top: 50%;
  text-decoration: none;
  cursor: pointer;
  z-index: 2; }

.slider_container {
  width: 4800px;
  position: relative;
  transition: right 0.3s;
  height: 30rem;
  display: flex; }

.burger_conteiner {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.burger {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 480px; }
  @media screen and (max-width: 768px) {
    .burger {
      height: 100%; } }

.slider_burger {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 90%;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .slider_burger {
      flex-direction: column;
      max-width: 37.5rem;
      justify-content: center; } }

.slider-icon {
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%; }

.burger_ingredient {
  position: absolute;
  top: 12%;
  left: 2%;
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  background-color: #f08c33;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  border-radius: 5px; }
  .burger_ingredient:hover .ingredient_table {
    display: block; }

.ingredient_btn {
  width: 60px;
  height: 60px;
  margin: auto;
  fill: #fff; }

.btn_burger {
  font-size: 20px;
  line-height: 24px;
  font-family: "gagalinregular"; }

.ingredient_table {
  display: none;
  position: absolute;
  left: 5.3125rem;
  top: 0;
  font-family: "Ubuntubold";
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 10px;
  width: 16.875rem; }

.ingredient {
  display: flex;
  height: 54px;
  justify-content: space-between;
  margin-left: 10px; }

.ingredient_scroll {
  width: 38px;
  height: 38px; }

.ingredient_menu {
  width: 100px;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  font-family: "ubuntumedium"; }

.ingredient_gram {
  width: 70px;
  font-family: "ubuntulight";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }

.burger_calories {
  position: absolute;
  bottom: 12%;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 5px;
  text-align: center;
  color: #fff; }

.burger_btn-cal {
  width: 60px;
  height: 60px;
  margin: auto;
  fill: #fff; }

.burger_calories-nam {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90px;
  height: 95px;
  margin: -50px 0px;
  font-size: 20px;
  line-height: 26px;
  font-family: "gagalinregular"; }

.burger_calories-nam p {
  font-size: 14px; }

.burger img {
  max-width: 100%;
  display: block; }

.burger_img {
  margin: 30% 0; }
  @media screen and (max-width: 768px) {
    .burger_img {
      margin: 15px 0; } }

.burger_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 480px;
  margin-left: 15px;
  width: 80%; }

.burger_title {
  font-family: 'gagalinregular';
  font-size: 4.5rem;
  color: #ffffff;
  line-height: 64px; }

.burger_content-text {
  font-family: "ubuntulight";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff;
  margin-top: 35px; }

.burger_content-order {
  display: flex;
  margin-top: 3.75rem; }

.burger_content-price {
  font-size: 72px;
  line-height: 12px;
  font-family: 'gagalinregular';
  color: #e35028;
  margin-right: 15px; }

.burger_content-price--currency {
  font-size: 30px; }

.order-link {
  font-family: 'ubuntumedium';
  text-transform: uppercase;
  font-size: 0.8125rem;
  margin: auto;
  color: #fff;
  text-decoration: none; }

.team_section {
  background: url(../img/team-activ.jpg) 50% no-repeat;
  background-size: cover;
  position: relative; }

.activ_section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding: 5% 2% 0 7%; }
  @media screen and (max-width: 768px) {
    .activ_section {
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; } }

.title_team {
  margin-bottom: 12%;
  font-size: 4.5rem;
  color: #f9b43b;
  font-family: "gagalinregular";
  text-transform: uppercase; }

.team_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8.4375rem; }
  @media screen and (max-width: 768px) {
    .team_list {
      text-align: center; } }

.team_item {
  color: #fff;
  flex-direction: column;
  margin-bottom: 2.1875rem;
  font-size: 0.875rem;
  display: block;
  position: relative;
  /* &:last-child {
       margin-bottom: 0;
   }*/ }
  .team_item.activ .team_name_activ {
    color: #f9b43b; }
    .team_item.activ .team_name_activ:before {
      transform: rotate(-180deg); }

.team_name_activ::before {
  margin-right: 0.625rem;
  content: "";
  display: block;
  left: -1.125rem;
  top: 0.5rem;
  height: 0;
  width: 0;
  border-top: 0.4375rem solid #f9b43b;
  border-left: 0.3125rem solid transparent;
  border-right: 0.3125rem solid transparent;
  border-bottom: 0rem solid transparent;
  transform: rotate(0deg);
  transition: .3s; }

.team_name_activ {
  color: #fff;
  display: flex;
  align-items: center;
  font-family: "gagalinregular";
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none; }
  @media screen and (max-width: 768px) {
    .team_name_activ {
      display: inline-block; } }

.team_img {
  border-radius: 50%; }

.activ_content {
  height: 0;
  overflow: hidden;
  display: flex;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    .activ_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: .5s; } }

.activ_content_text {
  color: #fff;
  margin-left: 0.9375rem;
  font-family: "ubuntulight";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.8125rem; }

.activ_content_title {
  font-weight: 800; }

.section_screen {
  background: url(../img/screen.jpg) center center/cover no-repeat;
  position: relative; }

.screen_title {
  position: absolute;
  left: 10%; }

.screen_activ {
  position: absolute;
  display: flex;
  height: 100%;
  justify-content: space-between;
  right: 0; }

.accordeon_list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.accordeon_item {
  display: flex; }

.accordeon_item_activ
.accordeon_item_link {
  color: #f9b43b; }

.accordeon_item_link_active
.accordeon_item_link_text {
  max-width: 33.75rem;
  padding: 3.875rem 2.1875rem;
  visibility: visible;
  opacity: 1; }

.accordeon_item_link {
  position: relative;
  width: 5rem;
  display: inline-block;
  font-family: "gagalinregular";
  font-size: 2.5rem;
  color: #fff;
  line-height: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-transform: uppercase; }

.accordeon_item_link span {
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateZ(-90deg);
  transform-origin: 0 0;
  text-align: center; }

.accordeon_item_link_text {
  background-color: rgba(47, 50, 52, 0.929);
  color: #fff;
  font-size: 0.875rem;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.714;
  max-width: 0rem;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  transition-property: max-width, opacity, visibility;
  transition-timing-function: ease;
  transition-duration: .8s;
  transition-property: width; }

.accordeon_item_activ
.accordeon_item_link_text {
  max-width: 46rem;
  padding: 3rem 3rem;
  visibility: visible;
  opacity: 1; }

.accordeon_item_text {
  width: 700px;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff;
  font-family: "ubuntulight"; }

.hamburger_menu_btn {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  display: flex;
  margin-left: 1.875rem;
  z-index: 5;
  display: none;
  border-top: 4px #fff solid;
  border-bottom: 4px #fff solid;
  margin: 10px 20px;
  width: 1.375rem;
  border-radius: 1px; }
  @media screen and (max-width: 768px) {
    .hamburger_menu_btn {
      display: flex; } }

.hamburger_menu_bars, .hamburger_menu_bars:before, .hamburger_menu_bars:after {
  background: #fff;
  border-radius: 3px;
  cursor: pointer; }
.hamburger_menu_bars:before, .hamburger_menu_bars:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 100%;
  border-top: 4px #fff solid;
  margin-top: 4px;
  border-radius: 1px; }
.hamburger_menu_bars:before {
  top: 0; }

.hamburger_container {
  position: absolute;
  top: 0;
  left: -9999px;
  opacity: 0; }

.hamburger_links {
  display: flex;
  flex-direction: column; }

.hamburger_links_menu {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  background: rgba(47, 50, 52, 0.99);
  height: 100%; }

.hamdurger_links_container {
  display: flex;
  justify-content: space-between; }

.closeIcon {
  margin: 30px 20px 0px 0px; }

.hamburger_menu_nav {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center; }

.hamburger_menu_link {
  display: inline-block;
  margin: 30px;
  font-family: "Ubuntu";
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  position: relative;
  text-decoration: none; }
  .hamburger_menu_link::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 200%; }

.hamburger_menu_item:last-child .hamburger_menu_link::after {
  display: none; }

.opened {
  opacity: 1;
  transition: opacity 0.3s;
  left: 0;
  width: 100%;
  height: 100%; }

.contacts {
  background: url("../img/map.jpg") no-repeat;
  background-color: rgba(236, 234, 234, 0.31);
  background-size: cover;
  background-position: center bottom; }

.map {
  width: 100%;
  height: 100%; }

.footer {
  position: absolute;
  width: 100%;
  background-color: #101010;
  height: 3.4375rem; }

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%; }

.footer_addres {
  color: #fff;
  font-family: "ubuntulight";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 10px 0px 0px 80px;
  font-size: 14px; }

.footer_phone {
  color: #e45028;
  font-family: "Ubuntu";
  font-weight: 800;
  margin: 0px 0px 0px 80px; }

.footer_social {
  display: flex;
  margin: 15px 60px 0px 0px; }

.social_icons {
  display: inline-block;
  vertical-align: middle;
  fill: #5b5b5b;
  width: 23px;
  height: 23px; }

/*# sourceMappingURL=style.css.map */
