//colors
/*$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;*/

//breakponts

$tablets: 768px;
$phones: 480px;

//_misc
@import "./_misc/media.scss";
@import "./_misc/layout.scss";
@import "./_misc/fonts.scss";


//normaliz
@import "./_misc/normalize.scss";

//block
@import "./block/header.scss";
@import "./block/hero.scss";
@import "./block/btn.scss";
@import "./block/title.scss";
@import "./block/pr.scss";
@import "./block/review.scss";
@import "./block/order.scss";
@import "./block/fixed.scss";
@import "./block/slider.scss";
@import "./block/team.scss";
@import "./block/screen.scss";
@import "./block/hamburger_menu.scss";
@import "./block/contacts.scss";
@import "./block/footer.scss";