.btn {
     background: #e35028;
     padding: 0.5625rem 0.9375rem;
     border-radius: 5px;
     text-transform: uppercase;
     color: #fff;
     text-decoration: none;
     font-size: 0.8125rem;

     &_background_black {
         background: #2f3234;
         font-family: "ubuntumedium";

     }
    &_colorless {
        background: none;
    }
}