.fixed-menu {
    position: fixed;
    top: 5.625rem;
    right: 1.5625rem;

    @include tablets() {
     display: none; 
    }
}


.fixed-menu-item {
    display: block;
    width: 0.625rem;
    height: 0.625rem;
    border: 1px solid transparent;
    position: relative;
    border-radius: 50%;
    margin-bottom: 1.25rem;

&:hover {
    border-color: #fff;
    cursor: pointer;
}

&:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: #fff

}
}
.fixed-menu-link {
    width: 1rem;
    height: 1rem;
    display: block;
    position: relative;

    &:after, &:before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}

	&:after {
		width: 0.375rem;
		height: 0.375rem;
		background: #fff;
	}

	&:before {
		width: 0rem;
		height: 0rem;
		border-radius: 50%;
		border: rem(1px) solid #fff;
		opacity: 0;
		transition: .3s;
	}

	&:hover {
		&:before {
			width: 0.875rem;
			height: 0.875rem;
			opacity: 1;
		}
	}
}
.fixed-menu-item {
    &.active {
		.fixed-menu__link {
			&:before {
				width: rem(14px);
				height: rem(14px);
				opacity: 1;
			}
		}
	}
}
.fixed-menu-list li a.active:before {
    width: 12px;
    height: 12px;
    border: 1px solid white;
    margin-top: -4px;
    left: 7px;
    }