
.hamburger_menu_btn {
        vertical-align: middle; 
        position: relative;
        height: 1.375rem; 
        display: flex;
        margin-left: 1.875rem; 
        z-index: 5;
        display: none;
        border-top: 4px #fff solid;
        border-bottom: 4px #fff solid;
        margin: 10px 20px;
        width: 1.375rem;
        border-radius: 1px;

    @include tablets() {
        display: flex;
    }
}

.hamburger_menu_bars {
    &, &:before, &:after {
        background: #fff;
       // width: 1.5rem;
        //height: 0.3125rem;
        border-radius: 3px;
        cursor: pointer;
    }
       
    &:before, &:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0px;
        width: 100%;
        border-top: 4px #fff solid;
        margin-top: 4px;
        border-radius: 1px;
    }
    &:before {
        top: 0;
        
    }
}
.hamburger_container {
    position: absolute;
    top: 0;
    left: -9999px;
    opacity: 0;
    
    
}
.hamburger_links {
    display: flex;
    flex-direction: column;
}

.hamburger_links:after {
    display: none;
}
.hamburger_links_menu {
    //display: none;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    background: rgba(47, 50, 52, 0.99);
    height: 100%;
    
}
.hamdurger_links_container {
    display: flex;
    justify-content: space-between;
}
.closeIcon {
    margin: 30px 20px 0px 0px;
}
.hamburger_menu_nav {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;

}
.hamburger_menu_link {
    display: inline-block;
    margin: 30px;
    font-family: "Ubuntu";
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: relative;
    text-decoration: none;

    &::after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 200%;
    }
}
.hamburger_menu_item:last-child .hamburger_menu_link::after {
    display: none;
}
.opened {
    opacity: 1;
    transition: opacity 0.3s;
    //display: block;
    left: 0;
    width: 100%;
    height: 100%;
}