.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_menu_btn {
    display: flex;
    align-items: center;
}
.site-navigation {
    display: flex;
    align-items: center;   
}
.menu {
    display: flex;
    align-items: center;

    &:last-child {
        &:after {
            display: none;
        }
    } 
    &:after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        display: inline-block;
        margin: 0 10px;
    }
}
.menu_navigation {
    color: white;
    text-decoration: none;

 &:hover   {
     color: $yellow;
 }
}

.order_btn:hover {
    background-color: #c1401e;
    cursor: pointer;
}