.profit {
    background: url(../img/bg.jpg) center center / cover no-repeat;
}
.profit_list {
    display: flex;

}
.profit_item {
    width: 33.3%;
    margin-right: 15px;

&:last-child {
    margin-right: 0;
}
}