.profit {
    background: url(../img/bg.jpg) center center / cover no-repeat;
}

.profit_list {
    display: flex;

}
.profit_item {
    width: 33.3%;
    margin-right: 15px;
    text-align: center;

&:last-child {
    margin-right: 0;
}
}
.profit_icon {
    display: inline-block;
}
.profit_text_title {
    color: #2f3234;
    font-family: "lifehackmedium";
    font-size: 24px;
    line-height: 28px;
    margin-top: 35px;
    margin-bottom: 25px;
}
.profit_text_content {
    font-family: "ubuntulight";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}