.section_screen {
    background: url(../img/screen.jpg) center center / cover no-repeat;
    position: relative;
}
.screen_title {
    position: absolute;
    left: 10%;
}
.screen_activ {
    position: absolute;
    display: flex;
    height: 100%;
    justify-content: space-between;
    right: 0;
}
.accordeon_list {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.accordeon_item {
    display: flex;
}
.accordeon_item_activ
.accordeon_item_link {
    
    color: #f9b43b; 
}
.accordeon_item_link_active 
.accordeon_item_link_text {
    max-width: 33.75rem;
    padding: 3.875rem 2.1875rem;
    visibility: visible;
    opacity: 1;
}

.accordeon_item_link {
    position: relative;
    width: 5rem;
    display: inline-block;
    font-family: "gagalinregular";
    font-size: 2.5rem;
    color: #fff;
    line-height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    text-transform: uppercase; 
}
.accordeon_item_link span {
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotateZ(-90deg);
    transform-origin: 0 0;
    text-align: center;
}
.accordeon_item_link_text {
    background-color: rgba(47, 50, 52, 0.929);
    color: #fff;
    font-size: 0.875rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.714;
    max-width: 0rem;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    transition-property: max-width, opacity, visibility;
    transition-timing-function: ease;
    transition-duration: .8s;
    transition-property: width;
}

.accordeon_item_activ
.accordeon_item_link_text {
    max-width: 33rem;
    padding: 3rem 3rem;
    visibility: visible;
    opacity: 1;
}