.team_section {
    background-color: rgba(0, 0, 0, 0.31);
    background: url(../img/team-activ.jpg) center center / cover no-repeat;
}
.activ_section {
    position: absolute;
    width: 50%;
    left: 50%;
    height: 100%;
    background: rgba(47, 50, 52, 0.93);
    display: flex;
    flex-direction: column;
    padding-top: 3.125rem;
    padding-left: 5rem;
    justify-content: space-around;
}    
.title_team {
    font-size: 4.5rem;
    color: #f9b43b;
    font-family: "gagalinregular";
    line-height: 1.1;
    width: 100%;
    text-transform: uppercase; 
    margin: 0;
}

.team_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8.4375rem;
}
.team_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.1875rem;
}
.team_name_activ::before {
    transition: .5s;
    margin-right: 0.625rem;
    content: "";
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0px;

}
.team_item_activ {
    color:#f9b43b;
}
.team_item_activ
.team_name_activ::before {
    transform: rotate(-180deg);
}
.team_name_activ {
    color: #fff;
    display: flex;
    align-items: center;
    font-family: "gagalinregular";
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}
.team_img {
    border-radius: 50%;
}
.activ_content {
   height: 0;
   overflow: hidden;
   display: flex;
}
.activ_content_text {
    color: #fff;
    margin-left: 0.9375rem;
    font-family: "ubuntulight";
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.8125rem;
}
.activ_content_title {
    font-weight: 800;
}