html {
    font-size: 16px;
    
    @include tablets() { 

        font-size: 14px;
    }

    @include phones() {

        font-size: 13px;
    }
}



html,
body {
   height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.42;
    position: relative;
    color: black;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    
    
}
.main_content {
   transition: transform 1s;
   height: 100%;
   min-height: 40.625rem;
   will-change: transform;
}
.container {
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 58.75rem;
    width: 95%;
    flex-direction: column;
    /*text-align: center;*/
}

.section {
    height: 100%;
    min-height: 40.625rem;
    position: relative;
    display: flex;
    overflow: hidden;
    @include tablets() {
        min-height: initial;
    }

    &_centered {

        .title {
            width: 100%;
            text-align: center;
        }
        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

        }

    }
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul {
    padding: 0;
    margin: 0; 
    li {
        list-style: none;
    }

}
p {
    padding: 0;
    margin: 0;
}
footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}